@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/* font-family: 'Montserrat', sans-serif; */

.navbar-nav {
  flex-direction: row;
}
.navbar-item {
  padding-left: 6%;
}
.container-fluid {
  --bs-gutter-x: 5.5rem;
}
.d-flex {
  justify-content: space-between;
}
.nav-link {
  padding-left: 40px;
}
